doctype html
html(class="no-js", lang="ru")

    include ../blocks/head/head.pug
    include ../blocks/header/header.pug
    include ../blocks/footer/footer.pug

    include ../blocks/content/content.pug
    include ../blocks/slider/slider.pug
    include ../blocks/cottage/cottage.pug

    include ../blocks/sidebar/sidebar.pug
    include ../blocks/breadcrumbs/breadcrumbs.pug


    head
        +head(head.defaults)
    body.page
        |%=symbols=%
        .page__inner
        +header-inner()
        main.main.container
            +breadcrumbs-cottages().main__breadcrumbs
            .main__row.flex
                +content().main__content
                    +slider()
                    +cottage()

                +sidebar(sidebar).main__sidebar

        +footer()

    script(src='%=static=%js/separate-js/lazyload.min.js' defer)
    script(src='%=static=%js/separate-js/jquery.min.js' defer)

    script(src='%=static=%js/separate-js/jquery.magnific-popup.min.js' defer)
    //- script(src='%=static=%js/separate-js/slick.min.js' defer)

    script(src='%=static=%js/main%=hash=%%=min=%.js' defer)
