doctype html
html(class="no-js", lang="ru")

  include ../blocks/head/head.pug
  include ../blocks/header/header.pug
  include ../blocks/footer/footer.pug

  include ../blocks/hero/hero.pug
  include ../blocks/about/about.pug
  include ../blocks/services/services.pug
  include ../blocks/advantages/advantages.pug
  include ../blocks/pluses/pluses.pug
  include ../blocks/gallery/gallery.pug
  include ../blocks/text/text.pug

  head
    +head(head.defaults)
  body.page
    |%=symbols=%
    .page__inner
      +header()
      main.main
        +hero()
        +about()
        +services()
        +advantages()
        +pluses()
        +gallery()
        +text()


    +footer()

    script(src='%=static=%js/separate-js/lazyload.min.js' defer)
    script(src='%=static=%js/separate-js/jquery.min.js' defer)

    script(src='%=static=%js/separate-js/jquery.magnific-popup.min.js' defer)
    //- script(src='%=static=%js/separate-js/slick.min.js' defer)

    script(src='%=static=%js/main%=hash=%%=min=%.js' defer)
