doctype html
html(class="no-js", lang="ru")

  include ../blocks/head/head.pug
  include ../blocks/header-inner/header-inner.pug
  include ../blocks/footer/footer.pug

  include ../blocks/specials/specials.pug
  include ../blocks/map/map.pug


  head
    +head(head.defaults)
  body.page.lazy(data-bg='url(assets/images/general/bg.jpg)')
    |%=symbols=%
    .page__inner
      +header-inner()
      main.main
        +specials()
        +map()
    +footer()

    script(src='%=static=%js/separate-js/lazyload.min.js' defer)
    script(src='%=static=%js/separate-js/jquery.min.js' defer)
    script(src='%=static=%js/separate-js/pickmeup.min.js' defer)

    //- script(src='%=static=%js/separate-js/jquery.magnific-popup.min.js' defer)
    //- script(src='%=static=%js/separate-js/slick.min.js' defer)

    script(src='%=static=%js/main%=hash=%%=min=%.js' defer)
