mixin advantages(data)
    section.advantages
        .advantages__container.container
            h2.advantages__title.title Наши преимущества


            ul.advantages__list.flex
                li.advantages__item
                    .advantages__item-text.flex На берегу Сямозеро

                li.advantages__item
                    .advantages__item-text.flex 2 зала ресторана

                li.advantages__item
                    .advantages__item-text.flex Артезианская вода

                li.advantages__item
                    .advantages__item-text.flex Паровое отопление
