.footer
    background-color: #0c4945
    &__container
        position: relative
        padding-top: 61px
        align-items: center
        &::after
            position: absolute
            top: 0
            left: 0
            width: 1200px
            height: 57px
            content: ''
            background: url('../images/general/line.png') 50% 0 no-repeat
            background-size: cover


    &__logo
        margin-right: 55px

    // &__contact

    &__contact_address
        margin-right: 43px
    &__contact_booking
        margin-right: 47px

    &__contact_phone
        margin-right: 45px

    &__button
        margin-left: auto

    &__bottom
        border-top: 1px solid rgba(255, 255, 255, 0.07)
        padding-top: 8px
        padding-bottom: 8px
        text-align: center
    &__copyright
        color: rgba(255,255,255,.55)
        font-size: 14px
        font-weight: 400
        line-height: 1.428
