mixin footer(data)
    footer.footer
        .footer__container.container.flex
            a.footer__logo.logo(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'logo', className: 'logo__image',})

            .footer__contact.footer__contact_address.contact.contact_address
                .contact__title Наш адрес
                .contact__text Лахденпохский район, Терву
                a.contact__map(href="#") Показать на карте
                != pugHelpers.Icon.call(locals, {iconName: 'marker-icon', className: 'contact__icon',})

            .footer__contact.footer__contact_booking.contact.contact_booking
                .contact__title Отдел бронирования
                a.contact__text(href="tel:+78005554869") 8 800 555-48-69
                != pugHelpers.Icon.call(locals, {iconName: 'whatsapp-icon', className: 'contact__icon',})

            .footer__contact.footer__contact_phone.contact.contact_phone
                .contact__title Телефон базы
                a.contact__text(href="tel:+78005554869") 8 800 555-48-69
                != pugHelpers.Icon.call(locals, {iconName: 'phone-icon', className: 'contact__icon',})

            a.footer__button.button(href="#") Бронирование

        .footer__bottom
            small.footer__copyright Copyright © 2015—2020 База отдыха «Триумф»
