mixin reviews(data)
    section.reviews
        .reviews__container.container
            h2.reviews__title.title Отзывы
            .reviews__slider-w
                .reviews__slider-nav
                    button.reviews__slider-arrow.reviews__slider-arrow_right
                        != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'reviews__slider-icon'})

                    button.reviews__slider-arrow.reviews__slider-arrow_left
                        != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'reviews__slider-icon'})

                .reviews__slider
                    .reviews__item-w
                        .reviews__item
                            .reviews__name Дмитрий из Александрии
                            .reviews__date 07.06.2019
                            .reviews__text Отличная гостиница. Мы с друзьями хорошо отдохнули, прекрасно провели время. Месторасположение гостиницы хорошее, спокойное тихое место. Номера самое то что надо. В целом - рекомендую к посещению!

                    .reviews__item-w
                        .reviews__item
                            .reviews__name Наталья
                            .reviews__date 29.03.2019
                            .reviews__text В целом гостиница произвела приятное впечатление. Немного не понравилась холодная вода в бассейне: было довольно неуютно. Но это компенсировалось горячим душем, отличным номером и удобной кроватью.


                    .reviews__item-w
                        .reviews__item
                            .reviews__name Мария
                            .reviews__date 25.10.2018
                            .reviews__text Несмотря на октябрь - в номерах довольно тепло и уютно. По первому требованию принесли дополнительные одеяла, мы переживали, что замерзнем - однако наши опасения оказались совершенно напрасными. Мы с удовольствием отдохнули! Большое спасибо всему персоналу за теплый прием. Обязательно приедем еще.


                    .reviews__item-w
                        .reviews__item
                            .reviews__name Дмитрий из Александрии
                            .reviews__date 07.06.2019
                            .reviews__text Отличная гостиница. Мы с друзьями хорошо отдохнули, прекрасно провели время. Месторасположение гостиницы хорошее, спокойное тихое место. Номера самое то что надо. В целом - рекомендую к посещению!

                    .reviews__item-w
                        .reviews__item
                            .reviews__name Наталья
                            .reviews__date 29.03.2019
                            .reviews__text В целом гостиница произвела приятное впечатление. Немного не понравилась холодная вода в бассейне: было довольно неуютно. Но это компенсировалось горячим душем, отличным номером и удобной кроватью.


                    .reviews__item-w
                        .reviews__item
                            .reviews__name Мария
                            .reviews__date 25.10.2018
                            .reviews__text Несмотря на октябрь - в номерах довольно тепло и уютно. По первому требованию принесли дополнительные одеяла, мы переживали, что замерзнем - однако наши опасения оказались совершенно напрасными. Мы с удовольствием отдохнули! Большое спасибо всему персоналу за теплый прием. Обязательно приедем еще.

                    .reviews__item-w
                        .reviews__item
                            .reviews__name Дмитрий из Александрии
                            .reviews__date 07.06.2019
                            .reviews__text Отличная гостиница. Мы с друзьями хорошо отдохнули, прекрасно провели время. Месторасположение гостиницы хорошее, спокойное тихое место. Номера самое то что надо. В целом - рекомендую к посещению!

                    .reviews__item-w
                        .reviews__item
                            .reviews__name Наталья
                            .reviews__date 29.03.2019
                            .reviews__text В целом гостиница произвела приятное впечатление. Немного не понравилась холодная вода в бассейне: было довольно неуютно. Но это компенсировалось горячим душем, отличным номером и удобной кроватью.


                    .reviews__item-w
                        .reviews__item
                            .reviews__name Мария
                            .reviews__date 25.10.2018
                            .reviews__text Несмотря на октябрь - в номерах довольно тепло и уютно. По первому требованию принесли дополнительные одеяла, мы переживали, что замерзнем - однако наши опасения оказались совершенно напрасными. Мы с удовольствием отдохнули! Большое спасибо всему персоналу за теплый прием. Обязательно приедем еще.


                    .reviews__item-w
                        .reviews__item
                            .reviews__name Дмитрий из Александрии
                            .reviews__date 07.06.2019
                            .reviews__text Отличная гостиница. Мы с друзьями хорошо отдохнули, прекрасно провели время. Месторасположение гостиницы хорошее, спокойное тихое место. Номера самое то что надо. В целом - рекомендую к посещению!

                    .reviews__item-w
                        .reviews__item
                            .reviews__name Наталья
                            .reviews__date 29.03.2019
                            .reviews__text В целом гостиница произвела приятное впечатление. Немного не понравилась холодная вода в бассейне: было довольно неуютно. Но это компенсировалось горячим душем, отличным номером и удобной кроватью.


                    .reviews__item-w
                        .reviews__item
                            .reviews__name Мария
                            .reviews__date 25.10.2018
                            .reviews__text Несмотря на октябрь - в номерах довольно тепло и уютно. По первому требованию принесли дополнительные одеяла, мы переживали, что замерзнем - однако наши опасения оказались совершенно напрасными. Мы с удовольствием отдохнули! Большое спасибо всему персоналу за теплый прием. Обязательно приедем еще.


            .reviews__all
                a.reviews__all-link(href="#") Все отзывы »



mixin reviews-wide(data)
    section.reviews.reviews_wide
        .reviews__container.container
            a.reviews__button.button(href="#") Оставить отзыв »

            ul.reviews__list

                li.reviews__review.review
                    .review__name Дмитрий
                    .review__meta.flex
                        .review__city Александрия
                        .review__date 07.06.2019
                    .review__text Отличная гостиница. Мы с друзьями хорошо отдохнули, прекрасно провели время. Месторасположение гостиницы хорошее, спокойное тихое место. Номера самое то что надо. В целом - рекомендую к посещению!

                li.reviews__review.review
                    .review__name Наталья
                    .review__meta.flex
                        .review__city Воронеж
                        .review__date 29.03.2019
                    .review__text В целом гостиница произвела приятное впечатление. Немного не понравилась холодная вода в бассейне: было довольно неуютно. Но это компенсировалось горячим душем, отличным номером и удобной кроватью.

                li.reviews__review.review
                    .review__name Мария
                    .review__meta.flex
                        .review__city Томск
                        .review__date 25.10.2018
                    .review__text Несмотря на октябрь - в номерах довольно тепло и уютно. По первому требованию принесли дополнительные одеяла, мы переживали, что замерзнем - однако наши опасения оказались совершенно напрасными. Мы с удовольствием отдохнули! Большое спасибо всему персоналу за теплый прием. Обязательно приедем еще.

                li.reviews__review.review
                    .review__name Игорь
                    .review__meta.flex
                        .review__city Томск
                        .review__date 29.07.2018
                    .review__text Чистенько, уютно, аккуратно. Холодильник в номере работает, телевизор тоже. Горячая вода есть. Что еще нужно уставшему с дороги человеку? Привести себя в порядок, принять горячий душ, покушать и удобно поспать. Все это я получил в должной мере. Персонал учтив и обходителен. Спасибо им за это!

                li.reviews__review.review
                    .review__name Ирвин
                    .review__meta.flex
                        .review__city Irwinflilk
                        .review__date 15.03.2018
                    .review__text спасибо персоналу гостиницы за теплый прием! были в первый раз но теперь вернемся обязательно. удобное расположение, закрытая парковка, уютные номера

                li.reviews__review.review.review_without_city
                    .review__name Кристина
                    .review__meta.flex
                        .review__date 28.11.2017
                    .review__text Была первый раз в этой гостинице! Очень приятно удивлена. Чистота порядок тишина. Есть парковке, за окном парк! Спасибо большое!

                li.reviews__review.review
                    .review__name Алла
                    .review__meta.flex
                        .review__city Ростов-на-Дону
                        .review__date 22.11.2017
                    .review__text Отличное сочетание цены и качества.Чисто,уютно.Приветливый персонал.Метро рядом.

                li.reviews__review.review.review_without_city
                    .review__name Яна
                    .review__meta.flex
                        .review__date 21.11.2017
                    .review__text Благодарю руководство и персонал гостиницы за комфортабельное размещение.Чистота в номере и санузле на 5+, хочу отметить охрану и охраняемую парковку. Размагнитился ключ от номера-решение проблемы заняло 5 минут.Исключительно отзывчивые и заботливые сотрудники круглосуточного кафе. Готовы и кормили в любое время суток.Благодарю

            +pagination().reviews__pagination.flex