mixin pluses(data)
    section.pluses
        .pluses__container.container
            h2.pluses__title.title Плюсы

            ul.pluses__list.flex
                li.pluses__item
                    .pluses__item-text.flex Бесплатная стоянка

                li.pluses__item
                    .pluses__item-text.flex Завтрак включен

                li.pluses__item
                    .pluses__item-text.flex Спутниковое телевидение

                li.pluses__item
                    .pluses__item-text.flex Бесплатное Wi-Fi