mixin slider(data)
    .slider
        .slider__wrapper
            .slider__object
                .slider__slide
                    picture.slider__picture
                        source.slider__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.webp 2x, assets/images/content/slider-1.webp 1x')
                        source.slider__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.png 2x, assets/images/content/slider-1.png 1x')
                        img.slider__picture-image.lazy(data-src='assets/images/content/slider-1@2x.png' alt="slider image")

                .slider__slide
                    picture.slider__picture
                        source.slider__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.webp 2x, assets/images/content/slider-1.webp 1x')
                        source.slider__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.png 2x, assets/images/content/slider-1.png 1x')
                        img.slider__picture-image.lazy(data-src='assets/images/content/slider-1@2x.png' alt="slider image")

                .slider__slide
                    picture.slider__picture
                        source.slider__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.webp 2x, assets/images/content/slider-1.webp 1x')
                        source.slider__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.png 2x, assets/images/content/slider-1.png 1x')
                        img.slider__picture-image.lazy(data-src='assets/images/content/slider-1@2x.png' alt="slider image")

                .slider__slide
                    picture.slider__picture
                        source.slider__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.webp 2x, assets/images/content/slider-1.webp 1x')
                        source.slider__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.png 2x, assets/images/content/slider-1.png 1x')
                        img.slider__picture-image.lazy(data-src='assets/images/content/slider-1@2x.png' alt="slider image")

                .slider__slide
                    picture.slider__picture
                        source.slider__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.webp 2x, assets/images/content/slider-1.webp 1x')
                        source.slider__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-1@2x.png 2x, assets/images/content/slider-1.png 1x')
                        img.slider__picture-image.lazy(data-src='assets/images/content/slider-1@2x.png' alt="slider image")



            .slider__thumbnails.flex
                .slider__thumbnails-item
                    .slider__thumbnails-inner
                        picture.slider__thumbnails-picture
                            source.slider__thumbnails-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-1@2x.webp 2x, assets/images/content/slider-thumb-1.webp 1x')
                            source.slider__thumbnails-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-1@2x.png 2x, assets/images/content/slider-thumb-1.png 1x')
                            img.slider__thumbnails-image.lazy(data-src='assets/images/content/slider-thumb-1@2x.png' alt="slider thumb image 1")

                .slider__thumbnails-item
                    .slider__thumbnails-inner
                        picture.slider__thumbnails-picture
                            source.slider__thumbnails-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-2@2x.webp 2x, assets/images/content/slider-thumb-2.webp 1x')
                            source.slider__thumbnails-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-2@2x.png 2x, assets/images/content/slider-thumb-2.png 1x')
                            img.slider__thumbnails-image.lazy(data-src='assets/images/content/slider-thumb-2@2x.png' alt="slider thumb image 2")

                .slider__thumbnails-item
                    .slider__thumbnails-inner
                        picture.slider__thumbnails-picture
                            source.slider__thumbnails-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-3@2x.webp 2x, assets/images/content/slider-thumb-3.webp 1x')
                            source.slider__thumbnails-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-3@2x.png 2x, assets/images/content/slider-thumb-3.png 1x')
                            img.slider__thumbnails-image.lazy(data-src='assets/images/content/slider-thumb-3@2x.png' alt="slider thumb image 3")

                .slider__thumbnails-item
                    .slider__thumbnails-inner
                        picture.slider__thumbnails-picture
                            source.slider__thumbnails-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-4@2x.webp 2x, assets/images/content/slider-thumb-4.webp 1x')
                            source.slider__thumbnails-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-4@2x.png 2x, assets/images/content/slider-thumb-4.png 1x')
                            img.slider__thumbnails-image.lazy(data-src='assets/images/content/slider-thumb-4@2x.png' alt="slider thumb image 4")

                .slider__thumbnails-item
                    .slider__thumbnails-inner
                        picture.slider__thumbnails-picture
                            source.slider__thumbnails-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-5@2x.webp 2x, assets/images/content/slider-thumb-5.webp 1x')
                            source.slider__thumbnails-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/slider-thumb-5@2x.png 2x, assets/images/content/slider-thumb-5.png 1x')
                            img.slider__thumbnails-image.lazy(data-src='assets/images/content/slider-thumb-5@2x.png' alt="slider thumb image 5")

            .slider__nav
                button.slider__arrow.slider__arrow_prev
                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__arrow-icon',})

                button.slider__arrow.slider__arrow_next
                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__arrow-icon',})
