mixin header(data)
    header.header
        .header__container.container.flex
            a.header__logo.logo(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'logo', className: 'logo__image',})

            .header__contact.contact.contact_address
                .contact__title Наш адрес
                .contact__text Лахденпохский район, Терву
                != pugHelpers.Icon.call(locals, {iconName: 'marker-icon', className: 'contact__icon',})

            .header__contact.contact.contact_booking
                .contact__title Отдел бронирования
                a.contact__text(href="tel:+78005554869") 8 800 555-48-69
                != pugHelpers.Icon.call(locals, {iconName: 'whatsapp-icon', className: 'contact__icon',})

            .header__contact.contact.contact_phone
                .contact__title Телефон базы
                a.contact__text(href="tel:+78005554869") 8 800 555-48-69
                != pugHelpers.Icon.call(locals, {iconName: 'phone-icon', className: 'contact__icon',})

            a.header__button.button(href="#") Бронирование



mixin header-inner(data)
    header.header.header_inner
        .header__container.container.flex
            a.header__logo.logo(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'logo', className: 'logo__image',})

            .header__contact.contact.contact_address
                .contact__title Наш адрес
                .contact__text Лахденпохский район, Терву
                a.contact__map(href="#") Показать на карте
                != pugHelpers.Icon.call(locals, {iconName: 'marker-icon', className: 'contact__icon',})

            .header__contact.contact.contact_booking
                .contact__title Отдел бронирования
                a.contact__text(href="tel:+78005554869") 8 800 555-48-69
                != pugHelpers.Icon.call(locals, {iconName: 'whatsapp-icon', className: 'contact__icon',})

            .header__contact.contact.contact_phone
                .contact__title Телефон базы
                a.contact__text(href="tel:+78005554869") 8 800 555-48-69
                != pugHelpers.Icon.call(locals, {iconName: 'phone-icon', className: 'contact__icon',})

            a.header__button.button(href="#") Бронирование