mixin partners(data)
    section.partners
        .partners__container
            h2.partners__title.title Мы сотрудничаем <br/>с ведущими страховыми компаниями
            img.partners__image.lazy(data-src="assets/images/content/partners.png", alt="")