mixin map(data)
    .map
        |<iframe class="lazy" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac411b5ef14b67a17a98ed9c8eb8034ce13e24e12b24fb4cf031bc0ee69b7b8f1&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>