mixin services(data)
    section.services
        .services__container.container

            h2.services__title.title Популярные услуги

            .services__list.flex
                article.services__service.service
                    a.service__link(href="#")
                        .service__title Номера
                        picture.service__picture
                            source.service__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/service-1@2x.webp 2x, assets/images/content/service-1.webp 1x')
                            source.service__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/service-1@2x.png 2x, assets/images/content/service-1.png 1x')
                            img.service__picture-image.lazy(data-src='assets/images/content/service-1@2x.png' alt="service image")

                article.services__service.service
                    a.service__link(href="#")
                        .service__title Бассейн
                        picture.service__picture
                            source.service__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/service-2@2x.webp 2x, assets/images/content/service-2.webp 1x')
                            source.service__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/service-2@2x.png 2x, assets/images/content/service-2.png 1x')
                            img.service__picture-image.lazy(data-src='assets/images/content/service-2@2x.png' alt="service image")

                article.services__service.service
                    a.service__link(href="#")
                        .service__title Ресторан
                        picture.service__picture
                            source.service__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/service-3@2x.webp 2x, assets/images/content/service-3.webp 1x')
                            source.service__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/service-3@2x.png 2x, assets/images/content/service-3.png 1x')
                            img.service__picture-image.lazy(data-src='assets/images/content/service-3@2x.png' alt="service image")

                article.services__service.service
                    a.service__link(href="#")
                        .service__title Коттеджи
                        picture.service__picture
                            source.service__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/service-4@2x.webp 2x, assets/images/content/service-4.webp 1x')
                            source.service__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/service-4@2x.png 2x, assets/images/content/service-4.png 1x')
                            img.service__picture-image.lazy(data-src='assets/images/content/service-4@2x.png' alt="service image")

                article.services__service.service
                    a.service__link(href="#")
                        .service__title Рыбалка
                        picture.service__picture
                            source.service__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/service-5@2x.webp 2x, assets/images/content/service-5.webp 1x')
                            source.service__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/service-5@2x.png 2x, assets/images/content/service-5.png 1x')
                            img.service__picture-image.lazy(data-src='assets/images/content/service-5@2x.png' alt="service image")

                article.services__service.service
                    a.service__link(href="#")
                        .service__title Отдых
                        picture.service__picture
                            source.service__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/service-6@2x.webp 2x, assets/images/content/service-6.webp 1x')
                            source.service__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/service-6@2x.png 2x, assets/images/content/service-6.png 1x')
                            img.service__picture-image.lazy(data-src='assets/images/content/service-6@2x.png' alt="service image")

            .services__button-w.flex
                a.services__button.button(href="#") Бронирование