.services
    overflow: hidden
    &__container
        padding-top: 65px
        padding-bottom: 65px
    &__title
        margin-bottom: 64px
        text-align: center
    &__list
        margin-right: -10px
        margin-left: -10px
        flex-wrap: wrap

    &__service
        margin-bottom: 30px
        padding-right: 10px
        padding-left: 10px
        max-width: 33.3%
        flex-basis: 33.3%
        min-height: 300px

    &__button-w
        justify-content: center

    &__button
        padding-right: 134px
        padding-left: 134px