mixin specials(data)
    .specials
        .specials__container.container
            .specials__offers
                article.specials__offer.flex
                    .specials__image
                        img.lazy(data-src="assets/images/content/special-1.jpg", alt="")

                    .specials__w.flex
                        .specials__offer-title.title Вы можете воспользоваться услугой нашей сауны
                        .specials__text
                            p Минимально — 2 часа. Цена до 4-х человек:

                        ul.specials__prices
                            li.specials__item.flex
                                .specials__time с 9:00 до 17:00
                                .specials__price.flex 1000 <span class='specials__price-curr'>₽</span><span class='specials__price-text'>/час</span>
                                .specials__extra.flex +200 <span class='specials__price-curr'>₽</span><span class='specials__price-text'>/дополнительный человек</span>

                            li.specials__item.flex
                                .specials__time с 17:00 до 9:00
                                .specials__price.flex 1400 <span class='specials__price-curr'>₽</span><span class='specials__price-text'>/час</span>
                                .specials__extra.flex +250 <span class='specials__price-curr'>₽</span><span class='specials__price-text'>/дополнительный человек</span>


                article.specials__offer.specials__offer_even.flex
                    .specials__image
                        img.lazy(data-src="assets/images/content/special-2.jpg", alt="")

                    .specials__w
                        .specials__offer-title.title Гостиница эконом класса ОАО "Рослеспром" у метро Аннино
                        .specials__text
                            p Рады приветствовать вас на сайте нашей гостиницы, расположившейся на юге Москвы в ЮАО. Аннино — экологически чистый район столицы, остановившись у нас, вы сможете насладиться чистейшим воздухом, благодаря близости лесопарковой зоны. Удаленность от центра гарантирует тишину и спокойствие, вас не потревожит шум автострады и суетность мегаполиса. При этом удобная инфраструктура района позволит быстро добраться до любой точки Москвы.

                        blockquote.specials__blockquote
                            != pugHelpers.Icon.call(locals, {iconName: 'blockquote-bg', className: 'specials__blockquote-icon'})
                            p От отеля «Рослеспром» на Варшавском шоссе до метро Аннино всего <strong>7 минут пешком!</strong>

                article.specials__offer.flex
                    .specials__image
                        img.lazy(data-src="assets/images/content/special-3.jpg", alt="")

                    .specials__w.flex
                        .specials__offer-title.title Размещение в недорогих номерах
                        .specials__text
                            p Нужна дешевая гостиница в Аннино на Варшавском шоссе? Вы попали по адресу! Номерной фонд отеля состоит из 74 номеров, одновременно мы готовы принять до 178 гостей.
                            p Мы позиционируем себя как отель эконом класса, так размещение на сутки:


                        ul.specials__prices.specials__prices_secondary
                            li.specials__item.flex
                                .specials__type Одноместный номер
                                .specials__price 2250 <span class='specials__price-curr'>₽</span><span class='specials__price-text'>/сутки</span>

                            li.specials__item.flex
                                .specials__type Двухместный стандарт
                                .specials__price 2800 <span class='specials__price-curr'>₽</span><span class='specials__price-text'>/сутки</span>

                        .specials__text
                            p Несомненным плюсом является и включение завтраков в стоимость суточного проживания. При таких, весьма демократичных ценах, наши номера соответствуют по уровню, чистоте и оснащенности европейским 3 звездам.

                article.specials__offer.specials__offer_even.flex
                    .specials__image
                        img.lazy(data-src="assets/images/content/special-4.jpg", alt="")
                    .specials__w.flex
                        .specials__offer-title.title С заботой о комфорте каждого гостя
                        .specials__text
                            p В каждом номере нашего мини-отеля есть все, необходимое для беззаботного и приятного отдыха: современная мебель, телевизоры, мини холодильники, туалетные принадлежности, телефон. Порадует вас и перечень дополнительных услуг: удобная и охраняемая автостоянка, собственное кафе, караоке-room и сауна с бассейном. Мы идем навстречу каждому клиенту, так почасовая оплата станет настоящим спасением и позволит сэкономить, если номер нужен на пару часов.

                article.specials__offer.flex
                    .specials__image
                        img.lazy(data-src="assets/images/content/special-5.jpg", alt="")
                    .specials__w.flex
                        .specials__offer-title.title Безопасное размещение на ночь
                        .specials__text
                            p На территории ОАО «Рослеспром» действует контрольно-пропускной режим, в холлах установлена современная система видеонаблюдения. Это исключает пропажу ценных вещей и проникновение посторонних в здание отеля. Мы гарантируем вашу безопасность.

                article.specials__offer.specials__offer_even.flex
                    .specials__image
                        img.lazy(data-src="assets/images/content/special-6.jpg", alt="")
                    .specials__w.flex
                        .specials__offer-title.title Снять недорогую гостиницу на юге Москвы легко
                        .specials__text
                            p Мы принимаем к оплате банковские карты, наличные и безналичные платежи. Забронировать номер на час, сутки или на ночь можно в любое время онлайн или по телефону.

                article.specials__offer.flex
                    .specials__image
                        img.lazy(data-src="assets/images/content/special-7.jpg", alt="")
                    .specials__w.flex
                        .specials__offer-title.title Эффективное сотрудничество
                        .specials__text
                            p С радостью обсудим специальные условия при размещении групп туристов и командировочных, предоставим отчетные документы, выгодные тарифы, трансфер и эксклюзивные услуги.
                            p Если вы цените гармоничное сочетание цены и качества, ждем вас в отеле ОАО «Рослеспром» у метро Аннино в ЮАО!
