mixin companies(data)
    .companies&attributes(attributes)
        .companies__container.container.bg
            ul.companies__top.flex
                li.companies__title Название
                li.companies__title Город
                li.companies__title Страна
                li.companies__title Добавить

            ul.companies__list
                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-1.png", alt="")

                        a.companies__online.flex(href="#") Онлайн-стенд

                    .companies__cell.companies__cell_second
                        ul.companies__info.flex
                            li.companies__info-item.flex АО “Мосттрест-сервис”
                            li.companies__info-item.flex Москва, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                        .companies__directions.flex
                            a.companies__direction.flex(href="#") Строительство
                            a.companies__direction.flex(href="#") Дороги
                            a.companies__direction.flex(href="#") Иновации
                            a.companies__direction.flex(href="#") Автомагистраль

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-2.png", alt="")

                        a.companies__online.flex(href="#") Онлайн-стенд

                    .companies__cell.companies__cell_second
                        ul.companies__info.flex
                            li.companies__info-item.flex Акционерное общество <br/>“Институт ”Стройпроект”
                            li.companies__info-item.flex Санкт-Петербург, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                        .companies__directions.flex
                            a.companies__direction.flex(href="#") Строительство
                            a.companies__direction.flex(href="#") Дороги
                            a.companies__direction.flex(href="#") Иновации
                            a.companies__direction.flex(href="#") Автомагистраль

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-3.png", alt="")

                        a.companies__online.flex(href="#") Онлайн-стенд

                    .companies__cell.companies__cell_second
                        ul.companies__info.flex
                            li.companies__info-item.flex ВТМ Дорпроект
                            li.companies__info-item.flex Москва, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                        .companies__directions.flex
                            a.companies__direction.flex(href="#") Строительство
                            a.companies__direction.flex(href="#") Дороги
                            a.companies__direction.flex(href="#") Иновации
                            a.companies__direction.flex(href="#") Автомагистраль


                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-4.png", alt="")

                        a.companies__online.flex(href="#") Онлайн-стенд

                    .companies__cell.companies__cell_second
                        ul.companies__info.flex
                            li.companies__info-item.flex Журнал ”Автомобильные <br/>дороги”
                            li.companies__info-item.flex Москва, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                        .companies__directions.flex
                            a.companies__direction.flex(href="#") Строительство
                            a.companies__direction.flex(href="#") Дороги
                            a.companies__direction.flex(href="#") Иновации
                            a.companies__direction.flex(href="#") Автомагистраль

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-5.png", alt="")

                    .companies__cell.companies__cell_second
                        ul.companies__info.companies__info_theme_second.flex
                            li.companies__info-item.flex ООО Предприятие “ПИК” <br/>Безопасность дорожного движения
                                a.companies__more.flex(href="#") Подробнее
                            li.companies__info-item.flex Нижний Новгород, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-6.png", alt="")

                    .companies__cell.companies__cell_second
                        ul.companies__info.companies__info_theme_second.flex
                            li.companies__info-item.flex АО <br/>ДОНАЭРОДОСТРОЙ
                                a.companies__more.flex(href="#") Подробнее
                            li.companies__info-item.flex Ростов-на-Дану, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-7.png", alt="")

                    .companies__cell.companies__cell_second
                        ul.companies__info.companies__info_theme_second.flex
                            li.companies__info-item.flex ERD <br/>Engineering
                                a.companies__more.flex(href="#") Подробнее
                            li.companies__info-item.flex Санкт-Петербург, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-8.png", alt="")

                    .companies__cell.companies__cell_second
                        ul.companies__info.companies__info_theme_second.flex
                            li.companies__info-item.flex ООО “Смол-<br/>ДорНИИ-Проект”
                                a.companies__more.flex(href="#") Подробнее
                            li.companies__info-item.flex Смоленск, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-9.png", alt="")

                    .companies__cell.companies__cell_second
                        ul.companies__info.companies__info_theme_second.flex
                            li.companies__info-item.flex ООО Предприятие “ПИК” <br/>Безопасность дорожного движения
                                a.companies__more.flex(href="#") Подробнее
                            li.companies__info-item.flex Нижний Новгород, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-10.png", alt="")

                    .companies__cell.companies__cell_second
                        ul.companies__info.companies__info_theme_second.flex
                            li.companies__info-item.flex АО <br/>ДОНАЭРОДОСТРОЙ
                                a.companies__more.flex(href="#") Подробнее
                            li.companies__info-item.flex Ростов-на-Дану, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-11.png", alt="")

                    .companies__cell.companies__cell_second
                        ul.companies__info.companies__info_theme_second.flex
                            li.companies__info-item.flex ERD <br/>Engineering
                                a.companies__more.flex(href="#") Подробнее
                            li.companies__info-item.flex Санкт-Петербург, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company.flex
                    .companies__cell.companies__cell_first
                        .companies__image
                            img(src="assets/images/content/company-12.png", alt="")

                    .companies__cell.companies__cell_second
                        ul.companies__info.companies__info_theme_second.flex
                            li.companies__info-item.flex ООО “Смол-<br/>ДорНИИ-Проект”
                                a.companies__more.flex(href="#") Подробнее
                            li.companies__info-item.flex Смоленск, <br/>ул. Борисова
                            li.companies__info-item.flex Россия
                            li.companies__info-item.flex
                                button.companies__heart
                                    != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})


            ul.companies__list.companies__list_mob
                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-1.png", alt="")

                        .companies__top-w
                            .companies__address Москва, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name АО <br/>“Мосттрест-сервис”

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Онлайн-стенд

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})


                    ul.companies__directions.flex
                        li.companies__direction.flex Строительство
                        li.companies__direction.flex Дороги
                        li.companies__direction.flex Иновации
                        li.companies__direction.flex Автомагистраль


                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-2.png", alt="")

                        .companies__top-w
                            .companies__address Санкт-Петербург, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name Акционерное общество <br/>“Институт ”Стройпроект”

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Онлайн-стенд

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})


                    ul.companies__directions.flex
                        li.companies__direction.flex Строительство
                        li.companies__direction.flex Дороги
                        li.companies__direction.flex Иновации
                        li.companies__direction.flex Автомагистраль

                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-3.png", alt="")

                        .companies__top-w
                            .companies__address Москва, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name ВТМ Дорпроект

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Онлайн-стенд

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})


                    ul.companies__directions.flex
                        li.companies__direction.flex Строительство
                        li.companies__direction.flex Дороги
                        li.companies__direction.flex Иновации
                        li.companies__direction.flex Автомагистраль


                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-4.png", alt="")

                        .companies__top-w
                            .companies__address Москва, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name Журнал ”Автомобильные <br/>дороги”

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Онлайн-стенд

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})


                    ul.companies__directions.flex
                        li.companies__direction.flex Строительство
                        li.companies__direction.flex Дороги
                        li.companies__direction.flex Иновации
                        li.companies__direction.flex Автомагистраль


                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-5.png", alt="")

                        .companies__top-w
                            .companies__address Нижний Новгород, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name ООО Предприятие “ПИК” <br/>Безопасность дорожного движения

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Подробнее

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-6.png", alt="")

                        .companies__top-w
                            .companies__address Ростов-на-Дону, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name АО <br/>ДОНАЭРОДОСТРОЙ

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Подробнее

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})


                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-7.png", alt="")

                        .companies__top-w
                            .companies__address Санкт-Петербург, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name ERD <br/>Engineering

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Подробнее

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})


                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-8.png", alt="")

                        .companies__top-w
                            .companies__address Смоленск, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name ООО “Смол-<br/>ДорНИИ-Проект”

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Подробнее

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})


                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-9.png", alt="")

                        .companies__top-w
                            .companies__address Нижний Новгород, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name ООО Предприятие “ПИК” <br/>Безопасность дорожного движения

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Подробнее

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-10.png", alt="")

                        .companies__top-w
                            .companies__address Ростов-на-Дону, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name АО <br/>ДОНАЭРОДОСТРОЙ

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Подробнее

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-11.png", alt="")

                        .companies__top-w
                            .companies__address Санкт-Петербург, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name ERD <br/>Engineering

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Подробнее

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})

                li.companies__company
                    .companies__company-top.flex
                        .companies__image
                            img(src="assets/images/content/company-12.png", alt="")

                        .companies__top-w
                            .companies__address Смоленск, <br/>ул. Борисова
                            .companies__country Россия

                    .companies__company-body
                        .companies__name ООО “Смол-<br/>ДорНИИ-Проект”

                    .companies__company-bottom.flex

                        a.companies__online.flex(href="#") Подробнее

                        button.companies__heart
                            != pugHelpers.Icon.call(locals, {iconName: 'heart-icon', className: 'companies__heart-icon'})
