mixin about(data)
    section.about
        .about__container.container
            h1.about__title.title База отдыха «Триумф» в Карелии

            .about__row.flex
                .about__col
                    .about__text
                        p Добро пожаловать на официальный сайт базы отдыха «Триумф». Наше живописное местечко, самой природой созданное для отдыха в Карелии, расположено в 67 километрах от Петрозаводска. Это узкая полоска суши, с двух сторон окружённая водами озера Сямозеро, которое считается одним из самых рыбных мест Карелии.

                        p Сосновый бор и оригинальный ландшафт, пение птиц и шуршание волн, уютные деревянные коттеджи и гостевые дома, оборудованные камином и верандой - все это настоящая Карелия, чистая и гостеприимная. Отдыхайте в Карелии: зимой, весной, летом и осенью.

                        p Любители активного отдыха по достоинству оценят большую игровую площадку для игры в пейнтбол, где можно устроить соревнования между командами отдыхающих. Ценители прекрасного наверняка предпочтут отправиться в лес за грибами и ягодами. Для желающих расслабиться в 30 метрах от берега работает баня с дровяной парилкой.

                .about__col

                    picture.about__picture
                        source.about__picture-source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/content/about-image@2x.webp 2x, assets/images/content/about-image.webp 1x')
                        source.about__picture-source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/content/about-image@2x.png 2x, assets/images/content/about-image.png 1x')
                        img.about__picture-image.lazy(data-src='assets/images/content/about-image@2x.png' alt="about image")
