mixin about(data)
    section.about
        .about__container.container
            h2.about__title.title О гостинице
            .about__text
                p Ценителям недорогих цен и комфорта придется по вкусу отель Рослеспром, расположенный в спокойном районе Москвы у станции метро Аннино. Гостям предлагается 74 просторных номера, оснащенных современной мебелью и отдельным санузлом. Мы готовы принять до 178 человек. На территории имеется стоянка для автотранспорта, сауна, кафе-бар. Персонал гостиницы работает 24 часа в сутки и с радостью разместит вас в любое время и на любой по продолжительности срок: сутки, на ночь или на час. Надеемся, вы по достоинству оцените нашу гостиницу и станете постоянным гостем!