.about
    &__container
        padding-top: 130px
        padding-bottom: 65px
    &__title
        margin-bottom: 60px
        text-align: center
    &__row
        margin-right: -32px
        margin-left: -32px
    &__col
        padding-right: 32px
        padding-left: 32px
        max-width: 50%
        flex-basis: 50%

    &__text
        p
            margin-bottom: 30px
            color: rgba(255,255,255, .7)
            font-size: 16px
            font-weight: 400
            line-height: 1.4375
