mixin offers(data)
    section.offers
        .offers__container.container
            h2.offers__title.title Горящие предложения
            ul.offers__list.flex
                li.offers__item-w
                    .offers__item
                        .offers__image
                            a(href="")
                                img(src="assets/images/content/offer-1.jpg", alt="")
                            .offers__meta
                                a.offers__type(href="#") Люкс
                                .offers__meta-w.flex
                                    .offers__size 28 кв. м
                                        != pugHelpers.Icon.call(locals, {iconName: 'size', className: 'offers__size-icon'})
                                    .offers__places 2 места
                                        != pugHelpers.Icon.call(locals, {iconName: 'persons', className: 'offers__places-icon'})


                        .offers__bottom.flex
                            .offers__price.flex от
                                .offers__price-val 6 200 ₽
                                | /сутки
                            a.offers__order.button(href="#") ЗАКАЗАТЬ НОМЕР

                li.offers__item-w
                    .offers__item
                        .offers__image
                            a(href="")
                                img(src="assets/images/content/offer-2.jpg", alt="")
                            .offers__meta
                                a.offers__type(href="#") Полулюкс
                                .offers__meta-w.flex
                                    .offers__size 28 кв. м
                                        != pugHelpers.Icon.call(locals, {iconName: 'size', className: 'offers__size-icon'})
                                    .offers__places 2 места
                                        != pugHelpers.Icon.call(locals, {iconName: 'persons', className: 'offers__places-icon'})


                        .offers__bottom.flex
                            .offers__price.flex от
                                .offers__price-val 5 200 ₽
                                | /сутки
                            a.offers__order.button(href="#") ЗАКАЗАТЬ НОМЕР

                li.offers__item-w
                    .offers__item
                        .offers__image
                            a(href="")
                                img(src="assets/images/content/offer-3.jpg", alt="")
                            .offers__meta
                                a.offers__type(href="#") Комфорт
                                .offers__meta-w.flex
                                    .offers__size 28 кв. м
                                        != pugHelpers.Icon.call(locals, {iconName: 'size', className: 'offers__size-icon'})
                                    .offers__places 2 места
                                        != pugHelpers.Icon.call(locals, {iconName: 'persons', className: 'offers__places-icon'})


                        .offers__bottom.flex
                            .offers__price.flex от
                                .offers__price-val 3 900 ₽
                                | /сутки
                            a.offers__order.button(href="#") ЗАКАЗАТЬ НОМЕР


                li.offers__item-w
                    .offers__item
                        .offers__image
                            a(href="")
                                img(src="assets/images/content/offer-4.jpg", alt="")
                            .offers__meta
                                a.offers__type(href="#") Стандарт одноместный
                                .offers__meta-w.flex
                                    .offers__size 28 кв. м
                                        != pugHelpers.Icon.call(locals, {iconName: 'size', className: 'offers__size-icon'})
                                    .offers__places 1 место
                                        != pugHelpers.Icon.call(locals, {iconName: 'persons', className: 'offers__places-icon'})


                        .offers__bottom.flex
                            .offers__price.flex от
                                .offers__price-val 2 500 ₽
                                | /сутки
                            a.offers__order.button(href="#") ЗАКАЗАТЬ НОМЕР

                li.offers__item-w
                    .offers__item
                        .offers__image
                            a(href="")
                                img(src="assets/images/content/offer-5.jpg", alt="")
                            .offers__meta
                                a.offers__type(href="#") Эконом двухместный
                                .offers__meta-w.flex
                                    .offers__size 28 кв. м
                                        != pugHelpers.Icon.call(locals, {iconName: 'size', className: 'offers__size-icon'})
                                    .offers__places 2 места
                                        != pugHelpers.Icon.call(locals, {iconName: 'persons', className: 'offers__places-icon'})


                        .offers__bottom.flex
                            .offers__price.flex от
                                .offers__price-val 3 000 ₽
                                | /сутки
                            a.offers__order.button(href="#") ЗАКАЗАТЬ НОМЕР

                li.offers__item-w
                    .offers__item
                        .offers__image
                            a(href="")
                                img(src="assets/images/content/offer-6.jpg", alt="")
                            .offers__meta
                                a.offers__type(href="#") Эконом одноместный
                                .offers__meta-w.flex
                                    .offers__size 28 кв. м
                                        != pugHelpers.Icon.call(locals, {iconName: 'size', className: 'offers__size-icon'})
                                    .offers__places 1 место
                                        != pugHelpers.Icon.call(locals, {iconName: 'persons', className: 'offers__places-icon'})


                        .offers__bottom.flex
                            .offers__price.flex от
                                .offers__price-val 2 500 ₽
                                | /сутки
                            a.offers__order.button(href="#") ЗАКАЗАТЬ НОМЕР